* {
    background-color: #1B1B37;
    color: whitesmoke;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
    background-color: #4B3F72;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 12px 26px 5px rgba(0,0,0,0.3);
}
#content{
    padding: 40px;
    width: 700px;
    -webkit-box-shadow: 5px 12px 26px 5px rgba(0,0,0,0.3); 
}

p {
    color: white;
    padding: 10px;
}

a {
    color: #119DA4;
}

a:visited {
    color: #19647E;
}

h1, h2, h3 {
    text-align: center;
}

p, a, li, pre {
    font-size: large;
}

h1{
    color: #119DA4;
    background-color: #FFC857;
    margin-bottom: 40px;
}

h3{
    color: #FFc875;
    background-color: #119DA4;
}

.preformatted {
    font-family: monospace;
    white-space: pre;
}