* {
    background-color: midnightblue;
    color: whitesmoke;
    font-family: 'Be Vietnam Pro', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#content{
    width: 600px;
}

p {
    color: white;
}

a {
    color: powderblue;
}

h1, h2, h3 {
    text-align: center;
}

h1{
    background-color:indigo;
}